[submodule "bundle/always/vim-airline"]
	path = bundle/always/vim-airline
	url = https://github.com/vim-airline/vim-airline
    ignore = dirty
[submodule "bundle/always/vim-fugitive"]
	path = bundle/always/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
    ignore = dirty
[submodule "bundle/always/vim-gitgutter"]
	path = bundle/always/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
    ignore = dirty
[submodule "bundle/always/gruvbox"]
	path = bundle/always/gruvbox
	url = https://github.com/morhetz/gruvbox/
    ignore = dirty
[submodule "bundle/always/perlomni.vim"]
	path = bundle/perl/perlomni.vim
	url = https://github.com/c9s/perlomni.vim
    ignore = dirty
[submodule "bundle/always/AutoComplPop"]
	path = bundle/always/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
    ignore = dirty
[submodule "bundle/always/syntastic"]
	path = bundle/always/syntastic
	url = https://github.com/vim-syntastic/syntastic
    ignore = dirty
[submodule "bundle/always/vim-template"]
	path = bundle/always/vim-template
	url = https://github.com/aperezdc/vim-template/
    ignore = dirty
